# Monorepo for KrishiMitra

# Python
__pycache__/
*.py[cod]
*.pyd
.venv/
venv/
ENV/

# Node
node_modules/
.next/
.next-cache/

# Env files
.env
.env.*
backend/.env
frontend/.env.local

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
